/* App.css */
.main-container {
    display: flex;
    flex-direction: row;
}

/* Стили для Sidebar */
.sidebar {
    width: 160px; /* Укажите ширину, которая вам подходит */
    height: 100vh; /* Высота по высоте экрана */
    background-color: #f0f0f0;
    /* Другие стили, если необходимо */
}

/* Стили для контента справа от Sidebar */
.content {
    flex: 1; /* Занимает всю доступную ширину */
    padding: 20px; /* Добавьте отступы для контента */
    /* Другие стили, если необходимо */
}