/* Некоторые общие стили для всего приложения */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Дополнительные стили для элементов внутри приложения */
h1 {
    color: #333;
}

/* Можно добавить еще стилей в соответствии с потребностями вашего приложения */